.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 58px;
  position: relative;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: white;
}

.filter__button {
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;

  &:hover {
    box-sizing: border-box;
    border: 1px solid rgba(154, 72, 241, 1);
    border-radius: 60px;
    color: rgba(182, 114, 255, 1);
  }
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}
