.filter__wrapper {
  position: absolute;
  border-radius: 12px;
  background: rgba(49, 49, 49, 1);
  top: 50px;
  left: -3px;
}

.active {
  display: block;
}

.filter__list {
  color: white;
  display: flex;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  flex-direction: column;
  width: max-content;
  max-width: 248px;
  background: rgba(49, 49, 49, 1);
  margin: 34px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.filter__el {
  cursor: pointer;

  &:hover {
    color: rgba(182, 114, 255, 1);
  }
}

.el__active {
  cursor: pointer;
  color: rgba(182, 114, 255, 1);
  text-decoration: underline;
}

.filter__button {
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  position: relative;

  &:hover {
    box-sizing: border-box;
    border: 1px solid rgba(217, 182, 255, 1);
    border-radius: 60px;
    color: rgba(217, 182, 255, 1);
  }

  &:active {
    box-sizing: border-box;
    border: 1px solid rgba(173, 97, 255, 1);
    border-radius: 60px;
    color: rgba(173, 97, 255, 1);
  }
}
